<h1>本管理＞本一覧</h1>
<button>
<%= link_to '本を登録する', '/admin/books/new' %>
</button>
<table>
<%# <table class="uk-table uk-table-divider"> %>
    <thead>
        <tr>
            <th>ID</th>
            <th>画像</th>
            <th>タイトル</th>
            <th>ステータス</th>
            <th>開始</th>
            <th>終了</th>
            <th>ユーザー</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>1</td>
            <td>なんか画像を入れるところ</td>
            <td>プログラミング言語Ruby</td>
            <td>貸し出し中</td>
            <td>2023/07/01</td>
            <td>2023/07/14</td>
            <td><p>松田樹里</p><p>juri@mail.com</p></td>
        </tr>
        <tr>
            <td>Table Data</td>
            <td>Table Data</td>
            <td>Table Data</td>
            <td>Table Data</td>
            <td>Table Data</td>
            <td>Table Data</td>
            <td>Table Data</td>
        </tr>
        <tr>
            <td>Table Data</td>
            <td>Table Data</td>
            <td>Table Data</td>
            <td>Table Data</td>
            <td>Table Data</td>
            <td>Table Data</td>
            <td>Table Data</td>
        </tr>
    </tbody>
</table>

