<%= form_with(model: book) do |form| %>
    <div>
        <%= form.date_field :sample_at %>
        から
    </div>

    <div>
        <%= form.date_field :sample_at %>
        まで
    </div>

    <div>
        <%= form.submit %>
    </div>
<% end %>