<h1>本一覧</h1>
<h2>--------------------------------</h2>
<div class="book-container">
  <% @books.each do |book| %>
    <div class="card">
      <a href="/books/<%= book.id %>" class="card-link">
        <%# 画像がデータベースにあればその画像を表示、なければデフォルト画像を表示%>
        <%= image_tag(book.image_name.present? ? "/images/#{book.image_name}" : "/images/noImage.jpg") %>
        <p class="card-title"><%= book.title %></p>
        <div class="card-content">
          <p><%= lending_status(book, current_user) %></p>
        </div>
      </a>
    </div>
  <% end %>
</div>