<h1>借りている本一覧</h1>
<h2>--------------------------------</h2>
<div class="book-container">
  <% if !@orderlendingbooks.nil? %>
    <% @orderlendingbooks.each do |lending| %>
      <div class="card">
        <%= link_to edit_lending_path(lending.id) do %>
            <%= image_tag "/images/#{lending.book.image_name}" %>
            <p class="card-title"><%= lending.book.title %></p>
            <p><%= lending.end_date.strftime("%Y/%m/%d") %>まで</p>
        <% end %>
      </div>
    <% end %>
  <% end %>
</div>